<div id="server1" class="scoreDiv topScoreDiv cornerBorder scoreDivSpacing">
    <!--div class="cornerHack-top center topScoreDiv"/-->
    <div class="scoreName scoreName-top">
        <p><%= scores[0].name.toUpperCase() %></p>
    </div>
    <div class="bottomAnchor">
        <span class="scoreData scoreData-top">
            <p><%= scores[0].score %></p>
        </span>
        <span class="filler">
        </span>
    </div>
</div>
<div id="server2" class="scoreDiv cornerBorder scoreDivSpacing">
    <!--div class="cornerHack center scoreDiv"/-->
    <div class="scoreName">
        <p><%= scores[1].name.toUpperCase() %></p>
    </div>
    <div class="bottomAnchor">
        <span class="scoreData">
            <p><%= scores[1].score %></p>
        </span>
        <span class="filler">
        </span>
    </div>
</div>
<div id="server3" class="scoreDiv cornerBorder scoreDivSpacing">
    <!--div class="cornerHack center scoreDiv"/-->
    <div class="scoreName">
        <p><%= scores[2].name.toUpperCase() %></p>
    </div>
    <div class="bottomAnchor">
        <span class="scoreData">
            <p><%= scores[2].score %></p>
        </span>
        <span class="filler">
        </span>
    </div>
</div>
